@model Treinando_Crud.Models.Department
@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <fieldset>
    <legend>@ViewData["Title"]</legend>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-1 col-form-label">Name</label>
            <div class="col-sm-3">
                <input asp-for="Name" class="form-control" placeholder="Departamento" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    <button type="submit" asp-action="Create" class="btn btn-primary">Create</button>
    </fieldset>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}