@model Treinando_Crud.Models.Department
@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Department</h4>
<hr />
    <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-md-3">
                <label asp-for="Name" class="form-label col-sm-2">Name:</label>
                <input asp-for="Name" />
            </div>
            <div class="btn">
                <input type="submit" asp-action="Edit" value="Save" class="btn-dark btn-group" />
                <input type="submit" asp-action="Index" value="Cancelar" class="btn-dark btn-group" />
            </div>
    </form>
