@model Treinando_Crud.Models.ViewsModels.EmployeeFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
           <form asp-action="Create" class="form-control">
               <div>
                   <label asp-for="Employee.Name" class="form-label"></label>
                   <input asp-for="Employee.Name" class="form-control" placeholder="Name" />
               </div>
               <div>
                   <label asp-for="Employee.BirthDate" class="form-label"></label>
                   <input asp-for="Employee.BirthDate" class="form-control" placeholder="BirthDate" />
               </div>
               <div>
                   <label asp-for="Employee.Email" class="form-label"></label>
                   <input asp-for="Employee.Email" class="form-control" placeholder="E-mail" />
               </div>
               <div>
                   <label asp-for="Employee.CPF" class="form-label"></label>
                   <input asp-for="Employee.CPF" class="form-control" placeholder="CPF" />
               </div>
               <div>
                   <label asp-for="Employee.DepartmentId" class="form-label"></label>
                   <select asp-for="Employee.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id", "Name"))" class="form-control"></select>
               </div>
               <div class="btn-group">
                   <input type="submit" value="Create" class="btn btn-dark" />
               </div>
           </form>
    </div>
</div>
